.set-name {
  font-size: 23px;
}

.page--container {
  padding: 0 1rem;

  h1 > span {
    color: #767676;
    font-size: 1rem;
    font-weight: 400;
  }
}

.cards-layout--container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(6, 1fr);
  }

  .card--container {
    margin-bottom: 1rem;

    > p {
      display: inline;
      margin: 0;
    }

    div {
      position: relative;
      height: 15rem;
    }
  }
}
