@mixin hamburger-bar {
  content: "";
  background-color: #e4cdcd;
  position: absolute;
  top: 50%;
  left: 0;
  width: 38px;
  height: 5px;
  transition: transform 0.3s ease-out;
}

@mixin menu-button-style {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  right: 1rem;
  height: 35px;
  width: 35px;
  z-index: 5;

  &::before {
    @include hamburger-bar;
    transform: translateY(-6px);
  }

  &::after {
    @include hamburger-bar;
    transform: translateY(6px);
  }
}

.header-container {
  background-color: #d03b3b;
  color: #e4cdcd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 1rem;

  h1 {
    margin: 0;
    z-index: 5;
  }

  .menu--btn {
    @include menu-button-style;

    &:hover {
      &::before {
        transform: translateY(-4px);
      }

      &::after {
        transform: translateY(4px);
      }
    }
  }

  .menu--btn-active {
    @include menu-button-style;

    &::before {
      transform: translateY(0) rotate(40deg);
      @media screen and (min-width: 1024px) {
        background-color: #d03b3b;
      }
    }

    &::after {
      transform: translateY(0) rotate(-40deg);
      @media screen and (min-width: 1024px) {
        background-color: #d03b3b;
      }
    }
  }
}
