.set-card--container {
  background-color: #d03b3b;
  border-radius: 8px;
  color: #e4cdcd;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;

  .logo--container {
    position: relative;
    width: 70%;
    height: 6.5rem;
  }

  .set-symbol {
    width: 10%;
  }

  .set-info--container {
    display: flex;
    font-size: 1rem;

    div {
      position: relative;
      width: 3rem;
      height: auto;
    }
  }
}
